<div class="game-layout">

  <aside class="side-panel">

    <h1>Memory</h1>

    <div class="game-options-section">

      <div class="score-box">
        <span>Score</span>
        <strong>{{ score }}</strong>
      </div>

      <div class="section-title">Start new game</div>

      @for (size of boardSizes; track size) {
      <button class="new-game-button"
        type="button"
        [class.selected]="selectedSize === size"
        (click)="startNewGame(size)"
      >
        {{ boardSizeLabels[size] }}
      </button>
      }

      <button class="about-button" type="button" (click)="openAboutDialog()">
        <i class="bi bi-info-circle"></i> About the Game
      </button>

    </div>

  </aside>

  <main class="game-panel">

    @if (selectedSize) {
      <div
        class="board-container"
        [style.--board-width]="BOARD_DIMENSIONS[selectedSize].cols"
        [style.--board-height]="BOARD_DIMENSIONS[selectedSize].rows"
      >
        @for (row of tileMatrix; track $index) {
          @for (cell of row; track cell) {
            <div class="board-cell" (click)="handleTileClick(cell)">
              @if (cell.status === TileStatus.UNCOVERED) {
                <img [src]="cell.image" alt="">
              } @else if (cell.status === TileStatus.COVERED) {
                <img [src]="'/images/back.png'" alt="">
              }
            </div>
          }
        }
      </div>
    } @else {
      <div class="board-placeholder">
        <span>
          Choose board size<br>
          and start a new game.
        </span>
      </div>
    }

  </main>

</div>

<dialog #dialog class="game-dialog">
  <div class="dialog-content">
    @if (dialogData) {
      <h1>{{ dialogData.title }}</h1>

      @for (paragraph of dialogData.paragraphs; track paragraph) {
        <p>{{ paragraph }}</p>
      }

      <button type="button" (click)="closeDialog()">
        OK
      </button>
    }
  </div>
</dialog>
